@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

$firstColor: #1C1A2C;
$secColor: #75B534;
$thirdColor: #ffffff;

@mixin flexCentrCentr () {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: 'Comfortaa', cursive;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
  @media screen and (max-width: 1000px) {
    justify-content: space-between;
  }
  h1 {
    font-weight: 300;
    font-size: 42px;
    cursor: pointer;
    @media screen and (max-width: 1500px) {
      font-size: 36px;
    }
    @media screen and (max-width: 1000px) {
      margin-left: 30px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
    span {
      color: $secColor;
    }
  }
  nav {
    @media screen and (max-width: 1000px) {
      display: none;
    }
    a {
      text-decoration: none;
      color: $firstColor;
      margin-right: 30px;
      font-size: 20px;
      @media screen and (max-width: 1500px) {
        font-size: 18px;
        margin-right: 15px;
      }
    }
    a:hover {
      color: $secColor;
    }
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: absolute;
    height: 200px;
    top: 120px;
    left: 0;
    background: $thirdColor;
    overflow: auto;
    z-index: 4;
  }
  #hamburger {
    display: none;
    & + label {
      display: none;
      width: 42px;
      height: 42px;
      @media screen and (max-width: 1000px) {
        display: flex;
        margin-right: 30px;
      }
      span {
        width: 30px;
        height: 3px;
        background: $firstColor;
        display: block;
        position: relative;
        margin: auto;
        transition: .5s;
        &:before, &:after {
          transition: .5s;
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          display: block;
          background: $firstColor;
        }
        &:before {
          top: -10px;
        }
        &:after {
          bottom: -10px;
        }
      }
    }
    &:checked + label {
      span {
        background: transparent;
        transform: rotate(180deg);
        &:before, &:after {
          top: 50%;
          bottom: initial;
          width: 110%;
          background: $secColor;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.banner {
  background: url("../img/banner_bg.jpg");
  height: 600px;
  article {
    text-align: center;
    padding-top: 200px;
    color: $secColor;
    font-size: 85px;
    @media screen and (max-width: 1300px) {
      font-size: 60px;
      padding-top: 230px;
    }
    @media screen and (max-width: 800px) {
      font-size: 40px;
      padding-top: 250px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
      padding-top: 270px;
    }
  }
}
.set {
  background: url("../img/set_bg.jpg") no-repeat;
  background-size: cover;
  height: 760px;
  @media screen and (max-width: 1250px) {
    height: 920px;
  }
  @media screen and (max-width: 850px) {
    height: 740px;
  }
  @media screen and (max-width: 700px) {
    height: 1180px;
  }
  @media screen and (max-width: 500px) {
    height: 1030px;
  }
  article {
    text-align: center;
    padding-top: 70px;
    color: $thirdColor;
    margin: 0;
    font-size: 60px;
    @media screen and (max-width: 1250px) {
      font-size: 40px;
      padding-top: 45px;
    }
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }
  &__content {
    width: 1200px;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 1250px) {
      flex-direction: column;
      margin: 30px auto 0;
      width: 820px;
    }
    @media screen and (max-width: 850px) {
      flex-direction: column;
      width: 650px;
    }
    @media screen and (max-width: 700px) {
      width: 240px;
      margin: 30px auto 0;
    }
    &__left {
      width: 820px;
      display: grid;
      grid-template-columns: 230px 240px;
      grid-template-rows: 1fr 1fr;
      gap: 80px 350px;
      position: relative;
      grid-template-areas:
    "a1 a3"
    "a2 a4";
      @media screen and (max-width: 850px) {
        width: 650px;
        gap: 50px 175px;
      }
      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
    "a1"
    "a2"
    "a3"
    "a4";
        width: 240px;
        gap: 10px;
      }
      div {
        color: $thirdColor;
        h2 {
          font-size: 24px;
          margin: 0 0 20px 0;
          @media screen and (max-width: 850px) {
            font-size: 16px;
          }
          @media screen and (max-width: 700px) {
            font-size: 14px;
            margin: 0 0 10px 0;
          }
          span {
            font-size: 36px;
            @media screen and (max-width: 850px) {
              font-size: 22px;
            }
            @media screen and (max-width: 700px) {
              font-size: 18px;
            }
            @media screen and (max-width: 500px) {
              font-size: 16px;
            }
          }
        }
        p {
          margin: 0;
          line-height: 22px;
          font-size: 15px;
          @media screen and (max-width: 850px) {
            font-size: 12px;
          }
          @media screen and (max-width: 500px) {
            font-size: 10px;
          }
        }
      }
      div:nth-child(1) {
        grid-area: a1;
        width: 220px;
      }
      div:nth-child(2) {
        grid-area: a2;
        width: 220px;
      }
      div:nth-child(3) {
        position: absolute;
        left: 200px;
        top: 50px;
        @media screen and (max-width: 700px) {
        display: none;
        }
        img {
          @media screen and (max-width: 850px) {
            height: 200px;
          }
        }
        svg {
          fill: $thirdColor;
          position: absolute;
          @media screen and (max-width: 850px) {
            width: 100px;
            height: 40px;
          }
        }
        svg:nth-child(1) {
          left: 250px;
          @media screen and (max-width: 850px) {
            left: 120px;
            top: -10px;
          }
        }
        svg:nth-child(2) {
          top: 250px;
          left: 250px;
          @media screen and (max-width: 850px) {
            left: 120px;
            top: 170px;
          }
        }
        svg:nth-child(3) {
          top: 270px;
          @media screen and (max-width: 850px) {
            top: 170px;
            left: -40px;
          }
        }
        svg:nth-child(4) {
          @media screen and (max-width: 850px) {
            top: -10px;
            left: -40px;
          }
        }
      }
      div:nth-child(4) {
        grid-area: a3;
        width: 240px;
      }
      div:nth-child(5) {
        grid-area: a4;
        width: 240px;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      height: 554px;
      @media screen and (max-width: 1250px) {
        flex-direction: row;
        height: 220px;
      }
      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        height: 400px;
      }
      &--up, &--down {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 330px;
        div {
          margin-left: 20px;
          color: $thirdColor;
          h2 {
            font-size: 24px;
            margin: 15px 0 17px 0;
            @media screen and (max-width: 850px) {
              font-size: 16px;
            }
            @media screen and (max-width: 500px) {
              font-size: 14px;
            }
          }
          p {
            margin: 0;
            font-size: 15px;
            line-height: 22px;
            @media screen and (max-width: 850px) {
              font-size: 12px;
            }
            @media screen and (max-width: 500px) {
              font-size: 10px;
            }
          }
        }
      }
      &--down {
        margin-top: 100px;
        @media screen and (max-width: 1250px) {
          margin-top: 0;
          margin-left: 120px;
        }
        @media screen and (max-width: 850px) {
          margin-left: 10px;
        }
        @media screen and (max-width: 700px) {
          margin-left: 0;
        }
      }
    }
  }
}
.benefit {
  height: 720px;
  @media screen and (max-width: 770px) {
    height: 1620px;
  }
  article {
    text-align: center;
    padding-top: 85px;
    color: $firstColor;
    margin: 0;
    font-size: 60px;
    @media screen and (max-width: 1250px) {
      font-size: 40px;
      padding-top: 45px;
    }
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }
  &__grid {
    width: 1180px;
    margin: 65px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px;
    @media screen and (max-width: 1250px) {
      margin: 30px auto 0;
      width: 700px;
      gap: 20px 80px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
      "a1 a2 a3"
      "a4 . a5";
      div:nth-child(1) {
        grid-area: a1;
      }
      div:nth-child(2) {
        grid-area: a2;
      }
      div:nth-child(3) {
        grid-area: a3;
      }
      div:nth-child(4) {
        grid-area: a4;
      }
      div:nth-child(5) {
        grid-area: a5;
      }
    }
    @media screen and (max-width: 770px) {
      width: 180px;
      gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
    "a1"
    "a2"
    "a3"
    "a4"
    "a5";
    }
    img {
      margin: 0 auto;
    }
    p {
      color: $firstColor;
      font-size: 24px;
      text-align: center;
    }
  }
  &__btn {
    width: 260px;
    height: 60px;
    background: $secColor;
    color: $thirdColor;
    font-size: 20px;
    @include flexCentrCentr;
    margin: 0 auto;
    border-radius: 30px;
    cursor: pointer;
    @media screen and (max-width: 1250px) {
      margin: -180px auto 0;
    }
    @media screen and (max-width: 770px) {
      margin: 20px auto 0;
    }
    &:hover {
      box-shadow: 0 0 5px 5px $secColor;
    }
  }
}
.dish {
  height: 320px;
  background: url("../img/dish_bg.jpg");
  @media screen and (max-width: 1440px) {
    background: url("../img/dish_bg-1440.jpg") no-repeat;
    height: 290px;
  }
  @media screen and (max-width: 1024px) {
    background: url("../img/dish_bg-1024.jpg") no-repeat;
    height: 206px;
  }
  @media screen and (max-width: 768px) {
    background: url("../img/dish_bg-768.jpg") no-repeat;
    height: 155px;
  }
  @media screen and (max-width: 375px) {
    background: url("../img/dish_bg-375.jpg") no-repeat;
    height: 76px;
  }
  article {
    text-align: center;
    padding-top: 60px;
    color: $thirdColor;
    margin: 0;
    font-size: 60px;
    @media screen and (max-width: 1440px) {
      font-size: 40px;
      padding-top: 45px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 36px;
      padding-top: 25px;
    }
    @media screen and (max-width: 768px) {
      font-size: 28px;
      padding-top: 15px;
    }
    @media screen and (max-width: 375px) {
      padding-top: 5px;
      font-size: 18px;
    }
  }
  h2 {
    font-size: 36px;
    color: $thirdColor;
    text-align: center;
    font-weight: 400;
    text-decoration: underline;
    @media screen and (max-width: 1440px) {
      font-size: 28px;
    }
    @media screen and (max-width: 1024px) {
      margin: 15px 0;
    }
    @media screen and (max-width: 768px) {
      margin: 10px 0;
      font-size: 22px;
    }
    @media screen and (max-width: 375px) {
      margin: 5px 0;
      font-size: 12px;
    }
  }
  div {
    width: 260px;
    height: 60px;
    background: $thirdColor;
    font-size: 20px;
    @include flexCentrCentr;
    margin: 0 auto;
    border-radius: 30px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      width: 200px;
      height: 50px;
      font-size: 16px;
    }
    @media screen and (max-width: 375px) {
      width: 100px;
      height: 25px;
      font-size: 10px;
    }
    &:hover {
      box-shadow: 0 0 5px 5px $thirdColor;
    }
    a {
      color: $firstColor;
      text-decoration: none;
    }
  }
}
.recipes {
  height: 1460px;
  @media screen and (max-width: 1250px) {
    height: 2400px;
  }
  @media screen and (max-width: 600px) {
    height: 3100px;
  }
  article {
    text-align: center;
    padding-top: 85px;
    color: $firstColor;
    margin: 0;
    font-size: 60px;
    @media screen and (max-width: 1250px) {
      font-size: 40px;
      padding-top: 45px;
    }
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }
  &__grid {
    width: 1180px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    @media screen and (max-width: 1250px) {
      width: 550px;
      margin: 30px auto;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
    @media screen and (max-width: 600px) {
      width: 240px;
      margin: 25px auto;
      grid-template-columns: 1fr;
      gap: 25px;
    }
    p {
      font-size: 19px;
      text-align: center;
      margin: 30px 0;
      @media screen and (max-width: 600px) {
        margin: 20px 0;
        font-size: 14px;
      }
    }
    &__item {
      padding: 10px;
      cursor: pointer;
      &:hover {
      box-shadow: 0 0 18px 2px $secColor;
    }
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      > img {
        @media screen and (max-width: 600px) {
          height: 180px;
        }
      }
    }
    &__item div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
      @media screen and (max-width: 600px) {
        margin: 0 5px;
      }
    }
    }
  }
  &__btn {
    width: 260px;
    height: 60px;
    background: $secColor;
    font-size: 20px;
    color: $thirdColor;
    @include flexCentrCentr;
    margin: 75px auto 0;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px 5px $secColor;
    }
  }
}
.reviews {
  height: 330px;
  background: url("../img/reviews_bg.jpg");
  article {
    text-align: center;
    padding-top: 30px;
    color: $thirdColor;
    margin: 0;
    font-size: 60px;
    @media screen and (max-width: 1250px) {
      font-size: 40px;
    }
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }
  &__slick {
    width: 90%;
    margin: 30px auto;
    &__slide {
      width: 320px;
      height: 200px;
      margin: 0 50px;
      cursor: pointer;
    }
    p {
      font-size: 20px;
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    p:nth-child(1) {
      color: $thirdColor;
    }
    p:nth-child(2) {
      color: $secColor;
    }
  }
}
.shop {
  height: 600px;
  @media screen and (max-width: 1000px) {
    height: 1150px;
  }
  article {
    text-align: center;
    padding-top: 85px;
    color: $firstColor;
    margin: 0;
    font-size: 60px;
    @media screen and (max-width: 1250px) {
      font-size: 40px;
      padding-top: 45px;
    }
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }
  &__grid {
    margin: 65px auto;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    @media screen and (max-width: 1000px) {
      width: 240px;
      grid-template-columns: 1fr;
      gap: 30px;
      margin: 30px auto;
    }
    div {
      @include flexCentrCentr;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: $firstColor;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
      margin-top: 50px;
      @media screen and (max-width: 1000px) {
        margin-top: 30px;
        font-size: 18px;
      }
    }
    a:hover {
      color: $secColor;
    }
  }
}
footer {
  height: 400px;
  background: $firstColor;
  article {
    text-align: center;
    padding-top: 45px;
    color: $thirdColor;
    margin: 0;
    font-size: 40px;
    @media screen and (max-width: 750px) {
      font-size: 22px;
    }
  }
  form {
    margin: 40px auto;
    width: 460px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $thirdColor;
    @media screen and (max-width: 750px) {
      width: 300px;
    }
    input {
      width: 280px;
      height: 60px;
      border: none;
      border-radius: 30px;
      padding: 0 0 0 20px;
      outline: none;
      @media screen and (max-width: 750px) {
        width: 170px;
        font-size: 12px;
      }
      &::placeholder {
        color: $firstColor;
        font-weight: 400;
      }
    }
    div {
      width: 180px;
      height: 60px;
      background: $secColor;
      color: $thirdColor;
      border-radius: 30px;
      @include flexCentrCentr;
      cursor: pointer;
      @media screen and (max-width: 750px) {
        width: 110px;
        font-size: 12px;
      }
    }
  }
  p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: $thirdColor;
    padding-top: 30px;
    margin: 0;
    @media screen and (max-width: 750px) {
      font-size: 12px;
    }
  }
  .social {
    margin: 40px 0 0 0;
    text-align: center;
  }
  svg {
    fill: $secColor;
    margin: 0 20px;
    @media screen and (max-width: 750px) {
      margin: 0 10px;
    }
  }
}