@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");
body {
  margin: 0 auto !important;
  max-width: 1600px;
  box-shadow: 0 0 5px 5px #cccccc;
  font-family: "Comfortaa", cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 170px;
}
header h1 {
  font-weight: 300;
  font-size: 42px;
  cursor: pointer;
}
@media screen and (max-width: 1500px) {
  header h1 {
    font-size: 36px;
  }
}
header h1 span {
  color: #75B534;
}
header nav a {
  text-decoration: none;
  color: #1C1A2C;
  margin-right: 30px;
  font-size: 20px;
}
@media screen and (max-width: 1500px) {
  header nav a {
    font-size: 18px;
    margin-right: 15px;
  }
}
header nav a:hover {
  color: #75B534;
}

.banner {
  background: url("../img/banner_bg.jpg");
  height: 600px;
}
.banner article {
  text-align: center;
  padding-top: 200px;
  color: #75B534;
  font-size: 85px;
}
@media screen and (max-width: 1300px) {
  .banner article {
    font-size: 60px;
    padding-top: 230px;
  }
}
@media screen and (max-width: 800px) {
  .banner article {
    font-size: 40px;
    padding-top: 250px;
  }
}
@media screen and (max-width: 500px) {
  .banner article {
    font-size: 28px;
    padding-top: 270px;
  }
}

.set {
  background: url("../img/set_bg.jpg") no-repeat;
  background-size: cover;
  height: 760px;
}
@media screen and (max-width: 1250px) {
  .set {
    height: 920px;
  }
}
@media screen and (max-width: 850px) {
  .set {
    height: 740px;
  }
}
@media screen and (max-width: 700px) {
  .set {
    height: 1180px;
  }
}
@media screen and (max-width: 500px) {
  .set {
    height: 1030px;
  }
}
.set article {
  text-align: center;
  padding-top: 70px;
  color: #ffffff;
  margin: 0;
  font-size: 60px;
}
@media screen and (max-width: 1250px) {
  .set article {
    font-size: 40px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  .set article {
    font-size: 28px;
  }
}
.set__content {
  width: 1200px;
  margin: 60px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1250px) {
  .set__content {
    flex-direction: column;
    margin: 30px auto 0;
    width: 820px;
  }
}
@media screen and (max-width: 850px) {
  .set__content {
    flex-direction: column;
    width: 650px;
  }
}
@media screen and (max-width: 700px) {
  .set__content {
    width: 240px;
    margin: 30px auto 0;
  }
}
.set__content__left {
  width: 820px;
  display: grid;
  grid-template-columns: 230px 240px;
  grid-template-rows: 1fr 1fr;
  gap: 80px 350px;
  position: relative;
  grid-template-areas: "a1 a3" "a2 a4";
}
@media screen and (max-width: 850px) {
  .set__content__left {
    width: 650px;
    gap: 50px 175px;
  }
}
@media screen and (max-width: 700px) {
  .set__content__left {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a1" "a2" "a3" "a4";
    width: 240px;
    gap: 10px;
  }
}
.set__content__left div {
  color: #ffffff;
}
.set__content__left div h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 850px) {
  .set__content__left div h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .set__content__left div h2 {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}
.set__content__left div h2 span {
  font-size: 36px;
}
@media screen and (max-width: 850px) {
  .set__content__left div h2 span {
    font-size: 22px;
  }
}
@media screen and (max-width: 700px) {
  .set__content__left div h2 span {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .set__content__left div h2 span {
    font-size: 16px;
  }
}
.set__content__left div p {
  margin: 0;
  line-height: 22px;
  font-size: 15px;
}
@media screen and (max-width: 850px) {
  .set__content__left div p {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .set__content__left div p {
    font-size: 10px;
  }
}
.set__content__left div:nth-child(1) {
  grid-area: a1;
  width: 220px;
}
.set__content__left div:nth-child(2) {
  grid-area: a2;
  width: 220px;
}
.set__content__left div:nth-child(3) {
  position: absolute;
  left: 200px;
  top: 50px;
}
@media screen and (max-width: 700px) {
  .set__content__left div:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .set__content__left div:nth-child(3) img {
    height: 200px;
  }
}
.set__content__left div:nth-child(3) svg {
  fill: #ffffff;
  position: absolute;
}
@media screen and (max-width: 850px) {
  .set__content__left div:nth-child(3) svg {
    width: 100px;
    height: 40px;
  }
}
.set__content__left div:nth-child(3) svg:nth-child(1) {
  left: 250px;
}
@media screen and (max-width: 850px) {
  .set__content__left div:nth-child(3) svg:nth-child(1) {
    left: 120px;
    top: -10px;
  }
}
.set__content__left div:nth-child(3) svg:nth-child(2) {
  top: 250px;
  left: 250px;
}
@media screen and (max-width: 850px) {
  .set__content__left div:nth-child(3) svg:nth-child(2) {
    left: 120px;
    top: 170px;
  }
}
.set__content__left div:nth-child(3) svg:nth-child(3) {
  top: 270px;
}
@media screen and (max-width: 850px) {
  .set__content__left div:nth-child(3) svg:nth-child(3) {
    top: 170px;
    left: -40px;
  }
}
@media screen and (max-width: 850px) {
  .set__content__left div:nth-child(3) svg:nth-child(4) {
    top: -10px;
    left: -40px;
  }
}
.set__content__left div:nth-child(4) {
  grid-area: a3;
  width: 240px;
}
.set__content__left div:nth-child(5) {
  grid-area: a4;
  width: 240px;
}
.set__content__right {
  display: flex;
  flex-direction: column;
  height: 554px;
}
@media screen and (max-width: 1250px) {
  .set__content__right {
    flex-direction: row;
    height: 220px;
  }
}
@media screen and (max-width: 700px) {
  .set__content__right {
    flex-direction: column;
    align-items: center;
    height: 400px;
  }
}
.set__content__right--up, .set__content__right--down {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 330px;
}
.set__content__right--up div, .set__content__right--down div {
  margin-left: 20px;
  color: #ffffff;
}
.set__content__right--up div h2, .set__content__right--down div h2 {
  font-size: 24px;
  margin: 15px 0 17px 0;
}
@media screen and (max-width: 850px) {
  .set__content__right--up div h2, .set__content__right--down div h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .set__content__right--up div h2, .set__content__right--down div h2 {
    font-size: 14px;
  }
}
.set__content__right--up div p, .set__content__right--down div p {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}
@media screen and (max-width: 850px) {
  .set__content__right--up div p, .set__content__right--down div p {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .set__content__right--up div p, .set__content__right--down div p {
    font-size: 10px;
  }
}
.set__content__right--down {
  margin-top: 100px;
}
@media screen and (max-width: 1250px) {
  .set__content__right--down {
    margin-top: 0;
    margin-left: 120px;
  }
}
@media screen and (max-width: 850px) {
  .set__content__right--down {
    margin-left: 10px;
  }
}
@media screen and (max-width: 700px) {
  .set__content__right--down {
    margin-left: 0;
  }
}

.benefit {
  height: 720px;
}
@media screen and (max-width: 770px) {
  .benefit {
    height: 1620px;
  }
}
.benefit article {
  text-align: center;
  padding-top: 85px;
  color: #1C1A2C;
  margin: 0;
  font-size: 60px;
}
@media screen and (max-width: 1250px) {
  .benefit article {
    font-size: 40px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  .benefit article {
    font-size: 28px;
  }
}
.benefit__grid {
  width: 1180px;
  margin: 65px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
}
@media screen and (max-width: 1250px) {
  .benefit__grid {
    margin: 30px auto 0;
    width: 700px;
    gap: 20px 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a1 a2 a3" "a4 . a5";
  }
  .benefit__grid div:nth-child(1) {
    grid-area: a1;
  }
  .benefit__grid div:nth-child(2) {
    grid-area: a2;
  }
  .benefit__grid div:nth-child(3) {
    grid-area: a3;
  }
  .benefit__grid div:nth-child(4) {
    grid-area: a4;
  }
  .benefit__grid div:nth-child(5) {
    grid-area: a5;
  }
}
@media screen and (max-width: 770px) {
  .benefit__grid {
    width: 180px;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "a1" "a2" "a3" "a4" "a5";
  }
}
.benefit__grid img {
  margin: 0 auto;
}
.benefit__grid p {
  color: #1C1A2C;
  font-size: 24px;
  text-align: center;
}
.benefit__btn {
  width: 260px;
  height: 60px;
  background: #75B534;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1250px) {
  .benefit__btn {
    margin: -180px auto 0;
  }
}
@media screen and (max-width: 770px) {
  .benefit__btn {
    margin: 20px auto 0;
  }
}
.benefit__btn:hover {
  box-shadow: 0 0 5px 5px #75B534;
}

.dish {
  height: 320px;
  background: url("../img/dish_bg.jpg");
}
@media screen and (max-width: 1440px) {
  .dish {
    background: url("../img/dish_bg-1440.jpg") no-repeat;
    height: 290px;
  }
}
@media screen and (max-width: 1024px) {
  .dish {
    background: url("../img/dish_bg-1024.jpg") no-repeat;
    height: 206px;
  }
}
@media screen and (max-width: 768px) {
  .dish {
    background: url("../img/dish_bg-768.jpg") no-repeat;
    height: 155px;
  }
}
@media screen and (max-width: 375px) {
  .dish {
    background: url("../img/dish_bg-375.jpg") no-repeat;
    height: 76px;
  }
}
.dish article {
  text-align: center;
  padding-top: 60px;
  color: #ffffff;
  margin: 0;
  font-size: 60px;
}
@media screen and (max-width: 1440px) {
  .dish article {
    font-size: 40px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 1024px) {
  .dish article {
    font-size: 36px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .dish article {
    font-size: 28px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 375px) {
  .dish article {
    padding-top: 5px;
    font-size: 18px;
  }
}
.dish h2 {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
}
@media screen and (max-width: 1440px) {
  .dish h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .dish h2 {
    margin: 15px 0;
  }
}
@media screen and (max-width: 768px) {
  .dish h2 {
    margin: 10px 0;
    font-size: 22px;
  }
}
@media screen and (max-width: 375px) {
  .dish h2 {
    margin: 5px 0;
    font-size: 12px;
  }
}
.dish div {
  width: 260px;
  height: 60px;
  background: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .dish div {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .dish div {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
}
.dish div:hover {
  box-shadow: 0 0 5px 5px #ffffff;
}
.dish div a {
  color: #1C1A2C;
  text-decoration: none;
}

.recipes {
  height: 1460px;
}
@media screen and (max-width: 1250px) {
  .recipes {
    height: 2400px;
  }
}
@media screen and (max-width: 600px) {
  .recipes {
    height: 3100px;
  }
}
.recipes article {
  text-align: center;
  padding-top: 85px;
  color: #1C1A2C;
  margin: 0;
  font-size: 60px;
}
@media screen and (max-width: 1250px) {
  .recipes article {
    font-size: 40px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  .recipes article {
    font-size: 28px;
  }
}
.recipes__grid {
  width: 1180px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 70px;
}
@media screen and (max-width: 1250px) {
  .recipes__grid {
    width: 550px;
    margin: 30px auto;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
@media screen and (max-width: 600px) {
  .recipes__grid {
    width: 240px;
    margin: 25px auto;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
.recipes__grid p {
  font-size: 19px;
  text-align: center;
  margin: 30px 0;
}
@media screen and (max-width: 600px) {
  .recipes__grid p {
    margin: 20px 0;
    font-size: 14px;
  }
}
.recipes__grid__item {
  padding: 10px;
  cursor: pointer;
}
.recipes__grid__item:hover {
  box-shadow: 0 0 18px 2px #75B534;
}
@media screen and (max-width: 600px) {
  .recipes__grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .recipes__grid__item > img {
    height: 180px;
  }
}
.recipes__grid__item div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .recipes__grid__item div img {
    margin: 0 5px;
  }
}
.recipes__btn {
  width: 260px;
  height: 60px;
  background: #75B534;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 75px auto 0;
  border-radius: 30px;
  cursor: pointer;
}
.recipes__btn:hover {
  box-shadow: 0 0 5px 5px #75B534;
}

.reviews {
  height: 330px;
  background: url("../img/reviews_bg.jpg");
}
.reviews article {
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
  margin: 0;
  font-size: 60px;
}
@media screen and (max-width: 1250px) {
  .reviews article {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .reviews article {
    font-size: 28px;
  }
}
.reviews__slick {
  width: 90%;
  margin: 30px auto;
}
.reviews__slick__slide {
  width: 320px;
  height: 200px;
  margin: 0 50px;
  cursor: pointer;
}
.reviews__slick p {
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .reviews__slick p {
    font-size: 14px;
  }
}
.reviews__slick p:nth-child(1) {
  color: #ffffff;
}
.reviews__slick p:nth-child(2) {
  color: #75B534;
}

.shop {
  height: 600px;
}
@media screen and (max-width: 1000px) {
  .shop {
    height: 1150px;
  }
}
.shop article {
  text-align: center;
  padding-top: 85px;
  color: #1C1A2C;
  margin: 0;
  font-size: 60px;
}
@media screen and (max-width: 1250px) {
  .shop article {
    font-size: 40px;
    padding-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  .shop article {
    font-size: 28px;
  }
}
.shop__grid {
  margin: 65px auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
@media screen and (max-width: 1000px) {
  .shop__grid {
    width: 240px;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 30px auto;
  }
}
.shop__grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shop__grid a {
  text-decoration: none;
  color: #1C1A2C;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  .shop__grid a {
    margin-top: 30px;
    font-size: 18px;
  }
}
.shop__grid a:hover {
  color: #75B534;
}

footer {
  height: 400px;
  background: #1C1A2C;
}
footer article {
  text-align: center;
  padding-top: 45px;
  color: #ffffff;
  margin: 0;
  font-size: 40px;
}
@media screen and (max-width: 750px) {
  footer article {
    font-size: 22px;
  }
}
footer form {
  margin: 40px auto;
  width: 460px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
@media screen and (max-width: 750px) {
  footer form {
    width: 300px;
  }
}
footer form input {
  width: 280px;
  height: 60px;
  border: none;
  border-radius: 30px;
  padding: 0 0 0 20px;
  outline: none;
}
@media screen and (max-width: 750px) {
  footer form input {
    width: 170px;
    font-size: 12px;
  }
}
footer form input::placeholder {
  color: #1C1A2C;
  font-weight: 400;
}
footer form div {
  width: 180px;
  height: 60px;
  background: #75B534;
  color: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  footer form div {
    width: 110px;
    font-size: 12px;
  }
}
footer p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 30px;
  margin: 0;
}
@media screen and (max-width: 750px) {
  footer p {
    font-size: 12px;
  }
}
footer .social {
  margin: 40px 0 0 0;
  text-align: center;
}
footer svg {
  fill: #75B534;
  margin: 0 20px;
}
@media screen and (max-width: 750px) {
  footer svg {
    margin: 0 10px;
  }
}

/*# sourceMappingURL=main.css.map */
